:root {
    --color001: #f5ecddff; /* Beige cálido */
    --color002: #253c4cff; /* Azul grisáceo oscuro */
    --color003: #7d5b3eff; /* Marrón tierra */
    --color004: #3c5a6eff; /* Azul verdoso suave */
    --color005: #a64e2aff; /* Terracota intenso */
    --color006: #e8b86bff; /* Dorado pastel */
    --color006D: #ba9356ff; /* Dorado pastel oscuro */

    --trans: #00000033;
}
* {box-sizing: border-box;}
body {
    margin: 0px;
}
header {
    align-items: center;
    background-color: var(--color001);
    display: flex;
    overflow: hidden;
    padding: 20px;
    justify-content: space-between;
}
header a {
    align-items: center;
    border-radius: 10px;
    color: var(--color002);
    display: flex;
    float: left;
    gap: 10px;     
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;  
}
header a.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
header a:hover {
    background-color: var(--trans);
}
header a.act {
    background-color: var(--color006);
}
.hright {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 750px) {
    header a {
        align-items: center;
        float: none;
        flex-direction: column;
        display: block;
        text-align: center;
        width: 100%;
    }
    .hright {
        float: none;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.description {
    margin: 20px auto;
    width: 75%;
    padding: 20px;
    background-color: var(--color001);
    border-radius: 15px;
    color: var(--color002);
    font-size: 20px;
    line-height: 1.5;
    max-width: 1200px;
    text-align: center;
    box-shadow: 0 10px 10px var(--trans);
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color001);
    color: var(--color002);
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.desc-but {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    border-color: transparent;
}

.butt {
    align-items: center;
    border-radius: 10px;
    background-color: var(--color006);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;  
    border: none;
    text-decoration: none;
    color: var(--color002);
}

.butt:hover {
    background-color: var(--color006D);
}