<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/badentracker_logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>BT-Reuniones</title>
</head>

<body>
    <header>
        <a href="/" class="logo">
            <img src="{% static 'img/badentracker_logo.svg' %}" height="50px">
            <h1>BadenTracker</h1>
        </a> 
        <div class="hright">
            <a href="/acts/">Actividades</a>
            <a href="/meet/" class="act">Reuniones</a>
            <a href="/cald/">Calendario</a>
        </div>
    </header>

    <div class="description">
        <div class="desc-but">
            <a class="butt" href="new/">
                Nueva Reunión
            </a>
        </div>
    </div>
    
    <footer>
        <p>Javier Coronel Vides &copy; 2025</p>
    </footer>
</body>
</html>