<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/badentracker_logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>BadenTracker</title>
</head>

<body>
    <header>
        <a href="/" class="logo">
            <img src="{% static 'img/badentracker_logo.svg' %}" height="50px">
            <h1>BadenTracker</h1>
        </a> 
        <div class="hright">
            <a href="/acts/">Actividades</a>
            <a href="/meet/">Reuniones</a>
            <a href="/cald/" class="act">Calendario</a>
        </div>
    </header>

    <div class="description">
        <p>
            <b>BadenTracker</b> es una aplicación para ayudar a los grupos scouts a planificar y gestionar sus reuniones de forma eficiente. 
            <br>
            Permite crear, almacenar y exportar programaciones en PDF con un formato específico y encabezado estándar. 
            <br>
            Cuenta con una base de datos de actividades, que se pueden filtrar por objetivos pedagógicos y tipo de actividad, 
            facilitando la selección según las necesidades educativas del grupo. 
            Además, incluye un calendario interactivo donde los usuarios pueden visualizar y gestionar sus reuniones de manera intuitiva.
        </p>
    </div>
    
    <footer>
        <p>Javier Coronel Vides &copy; 2025</p>
    </footer>
</body>
</html>